@media screen and (max-height:350px) {
     .colonna .header-main{
        display: none;
    }
}
.margin-bot{
    margin-bottom: 20px;
}
.margin-bot-5{
    margin-bottom: 5px;
}
.margin-right5{
    margin-right: 5px;
}
.margin-left5{
    margin-left: 5px;
}
.margin-top10{
    margin-top: 10px;
}
.marg5{
    margin: 5px;
}
a{
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
}
.sp{
    height: 100%;
}
.cap{
    text-transform: capitalize;
}
.weight7{
    font-weight: 700;
}
.end-col{
    padding-bottom: 5px;
}
.black{
    background-color: black;
}
.colore{
    background-color: #141922;
}
.width16{
    width: 16px;
}
.height{
    height: 100%;
}
.width24{
    width: 24px;
}
div.max-width100{
    max-width: 100%;
}
.box-list{
    list-style: none;
}
.subtitle{
    color: #797b80;
    font-size: 12px;
    text-transform: capitalize;
}   
body{
    color: white;
}
.f-white{
    color: white;
}
.none{
    display: none;

}
.border-r50{
    border-radius: 50%;
}
.row.important{
    height: calc(100vh - 100px);
}
.colonna-header{
    height: 100%;
    overflow: hidden;
}
.destra{
    height: 100%;
    overflow: hidden;
}
/* header  */
header{
    background-color: #000000;
    padding:0 15px 15px 15px;
    width: 50px;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    height: 100%;
}
.box-logo.row{
    align-items: center;
    width: 100%;
    height: auto;
}
.box-logo.row .logo{
    width: 90%;
}
header .ani-logo{
    display: inline-block;
    width: 100%;
}
.box-svg{
    width: 100%;
}
img.unone{
    width: 100%;
    margin-top: 10px;
    line-height: 26px;
}
header .box-row-inside{
    height: 20vh;
    overflow-y: auto;
    width: 80%;
}
header .box-list.playlist{
    height: 50%;
}
header .small-list{
    font-size: 12px;
    color: #797b80;
    text-transform:capitalize;
}
.list-header1{
    color: white;
}
.box-list li{
    margin: 5px 0;
}
.box-list li img{
    height: 21px;
    vertical-align: middle;
}
.box-list li i{
    font-size: 32px;
    vertical-align: middle;
}
header .download{
    vertical-align: middle;
}
header .profile{
    background-color: grey;
    border-radius: 50%;
}
header .box-svg{
    display: inline-block;
    position: relative;
}
.overlay-nonone{
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.4);
    position: absolute;
    top: 0;
    left: 0;
}
header .box-image{
    background-color: grey;
    border-radius: 50%;
    padding: 0 5px;
}
/* fine header  */
/* MAIN  */
main{
    height: 100%;
}
nav.header-main{
    height: 90px;
    width: calc(100% - 50px);
    position: fixed;
    top: 0;
    z-index: 1000;
    background-color: rgba(0, 0, 0, 0.3);
}
.header-main .box-button{
    transition: all 0.4s ease-in-out;
}
.header-main .box-button a{
    padding: 10px 30px;
    border-radius: 20px;
    border: 1px solid white;
    color: white;
    text-transform: uppercase;
    font-size: 12px;
    margin-right: 15px;
}
.box{
    height: 100%;
    overflow: auto; 
}

.nav-main{
    margin-top: 100px;
}
.nav-main .green{
    height: 1px;
    width: 20px;
    background-color: greenyellow;
    margin: auto;
}
.nav-main a{
    margin: 0 10px;
    text-transform: uppercase;
    line-height: 21px;
    font-size: 12px;
    color: #797b80;
}
main section{
    margin-top: 50px;
    margin-left: 10px;
    font-family: 'Roboto', sans-serif;
}
main section .colonna{
    width: calc(100% / 2 - 30px);
    margin-right: 15px;
    min-width: 120px ;
    text-align: center;
    margin-bottom: 15px;
    height: 100%;
}
main .box-image{
    width: 100%;
    position: relative;
    min-width: 125px;
}
main .box-image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.overlay{
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.4);
    position: absolute;
    top: 0;
    left: 0;
    display: none;
}
.overlay .play{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
.overlay .play i{
    font-size: 40px;
    transition: all 0.4s ease-in-out;
}
.title{
    margin: 10px 0 5px 0;
    text-transform: capitalize;
}
/* FINE MAIN INIZIO FOOTER  */
footer{
    width: 100%;
    height: 100px;
    background-color: #282828;
}
footer .aside .row-nw {
    align-items: center;
}
footer .row .aside{
    height: 100%;
    padding: 10px 1.3vw;
}
footer .row .central{
    height: 100%;
    padding: 15px 1.3vw;
}
footer .row img{
    height: 10vw;
    min-height: 40px;
}
footer .row-nw .n-brano{
    font-size: 12px;
    line-height: 12px;
} 
footer .aside .icon i{
    font-size: 12px;
}
footer .central i{
    color: white;
    margin: 10px 1vw;
    font-size: 4vw;
    transition: all 0.2s ease-in-out;
}
footer .central .icon-bigger i{
    font-size: 4.4vw;
    margin-top: 8px;
}
footer .barra{
    width: 100%;
    height: 3px;
    background-color: rgba(255,255,255,0.5);
    border-radius: 3px;
    position: relative;
}
footer .box-barra .time{
    font-size: 12px;
}
footer .barra-centrale{
    margin:10px 1vw;
    width: 70%;
}
.aside .box-barra{
    width: 30%;
    padding: 5px 0;
}
.barra .barra-verde{
    background-color: rgba(255,255,255,0.7);
    height: 100%;
    border-radius: 3px;
    width: 20%;
}
.barra .palla{
    background-color: rgba(255,255,255,1);
    width: 10px;
    height: 10px;
    border-radius:50%;
    position: absolute;
    top: 50%;
    left: 19%;
    transform: translateY(-50%);
    display: none;
}
footer .aside .size{
    font-size: 12px;
}
footer .aside .box-n-brano{
    line-height: 10px;
}
footer .aside h5{
    text-transform: capitalize;
}
/* FINE FOOTER INIZIO HOVER */
    a:hover{
        color: white;
    }
    a:hover .overlay-nonone{
        display: none;
    }
    .box-button:hover{
        transform: scale(1.1);
    }
    section .box-image:hover .overlay{
        display: block;
        cursor: pointer;
    }
    .overlay .play:hover i{
        font-size: 45px;
    }
    footer .box-barra:hover, footer i:hover, footer h5:hover{
        cursor: pointer;
    }
    footer .box-barra:hover .palla{
        display: block;
    }
    footer .box-barra:hover .barra-verde{
        display: block;
        background-color: greenyellow; 
    }
    footer .under.row i:hover{
        transform: scale(1.2);
    }
    footer .box-n-brano a:hover{
        text-decoration: underline;
    }
/* FINE HOVER INIZIO MEDIA QUERY  */
@media  screen and (min-width:576px) {
    /* colonna sinistra  */
    header{
        width: 200px;
    }
    .none{
        display: inline-block;
    }
    .box-svg{
        width: auto;
    }
    .bord-left{
        border-left: 2px solid greenyellow;
        margin-left: -15px;
        margin-right: 12px;
        height: 100%;
    }
    .unone{
        display: none;
    }
    .box-logo.row{
        height: 100px;
    }
    .top-side ul img{
        height: 26px;
    }
    header .profile{
        margin-right: 5px;
    }
    header .download{
        margin-right: 5px;
    }
    .end-col{
        border-bottom: 1px solid white ;
    }
    /* fine colonna sinistra  */
    /* inizio colonna destra  */
    nav.header-main{
        width: calc(100% - 200px);
    }
    main section .colonna{
        width: calc(100% / 6 - 30px);
        margin-right: 10px;
    }
    /* fine colonna destra  */
    /* footer  */
    footer .row img{
        height: 50px;
    }
    footer .central{
        padding: 10px 1.3vw;
    }
    footer .central i{
        font-size: 21px;
    }
    footer .central .icon-bigger i{
        font-size: 28px;
        margin-top: 8px;
    }
    footer .row-nw .n-brano{
        font-size: 14px;
    } 
    footer .box-barra .time{
        font-size: 16px;
    }
    footer .aside .size{
        font-size: 16px;
    }
}
/* MEDIA QUERY MAX 350PX */
@media screen and (max-height:350px) {
    .colonna .header-main{
       display: none;
   }
}
/* MEDIA QUERY MAX 55PX  */
@media  screen and (max-height:55px) {

    .colonna .header-main{
        height: 100vh;
        display:flex;
    }
    footer .row .central{
       padding: 0 1.3vw;
    }
    footer .central .under.row{
        height: 100vh;
    }
    footer .aside .row-nw.footer-left{
        align-items: flex-start;
        margin-left: -10px;
    }
    footer .aside .row-nw.footer-right{
        align-items: flex-end;
    }
    footer .aside .row-nw img{
        height: 100vh;
        margin-top: -10px;
    }
    footer .aside .icon{
        margin-left: -25px;
    }
    footer .box-barra{
        margin-top: 10px;
    }
    footer .central i{
        margin: 0 1vw;
        font-size: 60vh;
    }
    footer .central .icon-bigger i{
        font-size: 60vh;
        margin-top: 0;
    }
    
}



