.margin-bot{
    margin-bottom: 20px;
}
.margin-bot-5{
    margin-bottom: 5px;
}
.margin-right5{
    margin-right: 5px;
}
a{
    text-decoration: none;
}
.cap{
    text-transform: capitalize;
}
.end-col{
    padding-bottom: 5px;

}
.black{
    background-color: black;
}
.colore{
    background-color: #141922;
}
.width16{
    width: 16px;
}
.width24{
    width: 24px;
}
div.max-width100{
    max-width: 100%;
}
.box-list{
    list-style: none;
}
.subtitle{
    color: #797b80;
    font-size: 14px;
}   
body{
    color: white;
}
.none{
    display: none;

}

/* .box-image img{
    width: 90%;
    min-width: 140px;
} */
/* header  */
header{
    background-color: #000000;
    padding:0 15px 15px 15px;
    width: 50px;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    height: 100%;
}
.row.important{
    height: calc(100vh - 120px);
}
.box-logo.row{
    align-items: center;
    width: 100%;
    height: auto;
}
.box-logo.row .logo{
    width: 90%;
}
.box-svg{
    width: 100%;
}
img.unone{
    width: 100%;
    margin-top: 10px;
    line-height: 26px;
}
header .box-row{
    /* height: 30%; */
    height: 26vh;
    overflow: hidden;
}
header .box-list.playlist{
    height: 120px;
    width: 80%;
    margin-bottom: 15px;
    overflow-y: auto;
}
header .small-list{
    font-size: 12px;
    color: #797b80;
    text-transform:capitalize;
}
.list-header1{
    color: white;
}
.box-list li{
    margin: 5px 0;
}
.box-list li img{
    height: auto;
    line-height: 26px;
    vertical-align: middle;
}
.box-list li i{
    font-size: 32px;
    line-height: 32px;
    vertical-align: middle;
}
header .download{
    vertical-align: middle;
}
header .profile{
    background-color: grey;
    border-radius: 50%;
}
/* header .end-col{
    min-height: 20px;
} */
header .box-svg{
    display: inline-block;
    position: relative;
}
.overlay-nonone{
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.4);
    position: absolute;
    top: 0;
    left: 0;
}
header .box-image{
    background-color: grey;
    border-radius: 50%;
    padding: 0 5px;
}
/* fine header  */
/* main .row{
    height: calc(100vh - 120px - 100px);
    overflow-y: auto;
} */
/* main.col-xs{
    background-color: blue;
} */
/* MAIN  */
main{
    height: 100%;
}
nav.header-main{
    height: 100px;
    width: calc(100% - 50px);
    position: fixed;
    top: 0;
    z-index: 1000;
    background-color: rgba(0, 0, 0, 0.3);
}
.header-main .box-button{
    padding: 10px 30px;
    border-radius: 20px;
    border: 1px solid white;
    color: white;
    text-transform: uppercase;
    font-size: 12px;
}
.box{
    overflow-y: auto;
}
.box .nav-main{
    margin-top: 100px;
}
.nav-main .green{
    height: 1px;
    width: 20px;
    background-color: greenyellow;
    margin: auto;
}
.nav-main a{
    margin: 0 10px;
    text-transform: uppercase;
    line-height: 21px;
    font-size: 12px;
    font-family: 'Roboto', sans-serif;
    color: #797b80;
}
main section{
    margin-top: 50px;
    margin-left: 10px;
    font-family: 'Roboto', sans-serif;

}
/* main section .row{
    flex-wrap: nowrap;
} */
main section .colonna{
    width: calc(100% / 2 - 30px);
    margin-right: 2vh;
    min-width: 120px ;
    text-align: center;
}

main .box-image{
    width: 100%;
    position: relative;
    min-width: 125px;
}
main .box-image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.overlay{
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.4);
    position: absolute;
    top: 0;
    left: 0;
    display: none;
}
.overlay .play{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
.overlay .play i{
    font-size: 40px;
}
.title{
    margin: 10px 0 5px 0;
}
/* FINE MAIN INIZIO FOOTER  */
footer{
    width: 100%;
    height: 120px;
    background-color: #282828;
    position:fixed;
    bottom: 0;
    left: 0;
}
/* FINE FOOTER INIZIO HOVER */
    a:hover{
        color: white;
    }
    a:hover .overlay-nonone{
        display: none;
    }
/* FINE HOVER INIZIO MEDIA QUERY  */
@media  screen and (min-width:540px) {
    /* colonna sinistra  */
    header{
        width: 200px;
    }
    .none{
        display: inline-block;
    }
    .box-svg{
        width: auto;
    }
    .unone{
        display: none;
    }
    .box-logo.row{
        height: 100px;
    }
    .top-side ul img{
        height: 26px;
    }
    header .profile{
        margin-right: 5px;
    }
    header .download{
        margin-right: 5px;
    }
    .end-col{
        border-bottom: 1px solid white ;
    }
    /* fine colonna sinistra  */
    /* inizio colonna destra  */
    nav.header-main{
        width: calc(100% - 200px);
    }
    main section .colonna{
    width: calc(100% / 6 - 30px);
    }
}
    
